* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background-color: black;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(242, 242, 242);
}
nav{
    width: 100vw;
    /* height:200px; */
    /* border: 2px solid red; */
    padding:0vw 2vw 3vw 2vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index:99 !important;
}
#nav-icon{
    height:90px;
    overflow: hidden;
    
}
#nav-icon svg{
    display: block !important;
    margin-bottom: 5px;
    padding: 10px 0 5px 0;

}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 20px 15px;
    font-size:0.9rem;
}
#page1 {
    min-height: 100vh;
    width: 100vw;
    /* position: relative; */
    padding-top:13vw !important;
    padding: 0 2vw;
    overflow: hidden;
}

#page1 h1 {
    font-size: 16vw;
    font-family:futura;
    font-weight: 1000;
    line-height:13vw;
    letter-spacing: -13px;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

#video {
    height: 100vh;
    width: 100%;
    background-color: grey;
    position: relative;
}

#video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
    
}

#video #play-hover {
    padding: 3vw 2.3vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    font-weight: 900;
    position: fixed;
    font-family:futura;
    border-radius: 100%;
    opacity: 0;
    scale: 0;
    z-index: 1;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(50%,50%);
}

#page2 ,#page6{
    height:fit-content;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding:1vw 1vw;
}

#page2 .section,#page6 .section {
    width: 32%;
    height: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
    position: relative;
}

#page2 .section img,#page6 .section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
}

#page2 .section .card-button {
    height: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    border-radius: 30px !important;
    transform: translate(-50% , -50%);
}
/* #page2 .section .card-button:hover{
    height: 200px;
} */
#page2 .section .card-button .h-1 , .h-2, .h-3{
    background-color: rgb(245, 223, 207);
    /* background-color: aqua; */
    padding-top: 5px;
    height: 100%;
    border-radius:30px;
}
#page2 .section .card-button .imges{
    height: 200px;
    display: none;
    background-color: rgb(245, 223, 207);
    border-radius: 0px 0px 30px 30px;
}
#page2 #section1 .card-button .h-1{
    background-color: rgb(245, 223, 207);
}

#page2 #section2 .card-button .h-2 {
    background-color: rgb(237, 243, 255);
}

#page2 #section3 .card-button .h-3 {
    background-color: rgb(255, 255, 255);
}
#page2 #card-button-content{
    width: 100%;
    height: 50%;
    display: flex;
    font-size: 1rem;
   justify-content: space-evenly;
   align-items:end !important;
   list-style: none;
   /* text-align: center; */
}

#page3{
    width: 100vw;
    height: 80%;
    /* border: 5px solid black; */
    display: flex;
    text-align: start;
    gap: 15px;
    margin: 0 5vh 3vh 3vh;
    margin-top: 10vh;
    
}
#page3 #p{
    /* width: 50%; */
    height: 100%;
    /* border: 5px solid yellow; */
}
#page3 #p button{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 3vh;
    padding-bottom:0.8vw;
    text-transform: uppercase;
    font-size:0.8vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
}

#page3 .heading{
    font-size:4vw;
    font-family:futura;
    font-weight:800;
    text-transform: uppercase;
    line-height:1;
    letter-spacing: -3px;
    width: 60%;
}
#page3 .paragraph{
    width: 40%;
    margin-left: 13vw;
}
#page3 .paragraph #p1{
    padding-bottom:30px;
}
#page3 .paragraph #p1,#p2{
    width:70%;
    font-size:1.2vw;
}
#page4 {
    height: 250vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
#page4 .product{
    width: 45%;
    height: 50%;
    gap: 80px;
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page4 .product img{
    width:80%;
    
}
#page5{
    width: 100%;
    height:160vh;
}


  .cursor{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position:fixed;
    transform:translate(-50%,-50%);
    scale: 0;
    opacity: 0;
    top: 300vh;
    /* z-index: 1; */
}
#footer2 li{
    list-style: none;
}
#footer2 a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:1006px) {
    #right-nav .links{
        display: none;
    }
    #page2 {
        height:fit-content;
        width: 100%;
        position: relative;
        display:block;
        padding:1vw 2vw;
    }
    
    #page2 .section {
        width:100%;
        height: 100%;
        /* border: 2px solid red; */
        overflow: hidden;
        position: relative;
        margin-bottom:20px;

    }
    
    #page2 .section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1.2;
    }
    #page2 .section .card-button {
        height: 50px;
        width: 35%;
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        border-radius: 30px !important;
        transform: translate(-50% , -50%);
    }
    #page3{
        width: 100vw;
        height: 80%;
        display:block;
        margin-top: 10vh;
        
    }
    #page3 #p{
        /* width: 50%; */
        height: 100%;
        /* border: 5px solid yellow; */
    }
    #page3 #p button{
        border: none;
        border-bottom: 1px solid black;
        margin-top: 3vh;
        padding-bottom:0.8vw;
        text-transform: uppercase;
        font-size:1vw;
        font-family:futura;
        letter-spacing: 1px;
         color: grey;
    }
    #page3 .heading{
        font-size:3vw;
        font-family:futura;
        font-weight:800;
        text-transform: uppercase;
        line-height:1;
        letter-spacing:1px;
        width:90%;
        color: rgb(0, 0, 0);
        padding:2vw 6vw;
        text-align: center;
    }
    #page3 .paragraph{
        width:90%;
        /* border: 5px solid red; */
        margin: 0 2vw;
        text-align: center;

    }
    #page3 .paragraph #p1{
        padding-bottom:30px;
    }
    #page3 .paragraph #p1,#p2{
        width:100%;
        font-size:1.5vw;
    }
}

@media(max-width:600px) {
    #page1 {
        min-height: 70vh;
    }

    #page1 h1 {
        font-size: 13vw;
        line-height: 11.5vw;
        letter-spacing: -3px;
        text-transform: uppercase;
    }

    #video {
        height: 32vh;
        width: 98%;
        margin: 1vw 0;
        margin-left: 1vw;
        margin-left: 1vw;
    }

    
    #page2 {
        height: 350vh;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        padding: 3vw 1vw;
    }

    #page2 .section {
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
        overflow: hidden;
    }

    #page2 .section img {
        width: 100%;
        height: 100%;
        padding: 2vw 10vw;
    }
}

@media screen and (max-width:565px) {
    #svg1{
        display: none;
    }
    #page1 {
        min-height: 100vh;
        width: 100vw;
        margin-top: 25vw;
        padding: 0 2vw;
        overflow: hidden;
    }
    #page1 h1 {
        font-size: 16vw;
        line-height:13vw;
        letter-spacing: -5px;
        /* margin-bottom:0.2vw !important; */
    }
    #video {
        height:50vh;
        width: 100%;
        background-color: grey;
        position: relative;
    }
    #video #play-hover {
        padding: 9vw 7.1vw;
        background-color: black;
        color: white;
        font-size: 3.5vw;
        font-weight: 900;
        /* position: fixed; */
        font-family:futura;
        border-radius: 100%;
        opacity: 1;
        scale: 1;
        z-index: 99;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    #page2{
        height:400vh;
        width: 100%;
        padding:1vw 1vw;
    }
    #page2 .section{
        width:100%;
        height:33%;
    }
        
    #page2 .section .card-button {
        height: 50px;
        width:70%;
    }
    #page2 #card-button-content li{
        font-size:0.7rem !important;
    }
    #page3{
        width:90vw;
        height:fit-content;
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    #page3 #p{
        width:100%;
        height:fit-content;    }
    #page3 #p button{
        margin-top: 3vh;
        padding-bottom:0.8vw;
        font-size:2vw;
        font-weight:-100 !important;
        letter-spacing:0 px;
    }
    #page3 .heading h1{
        font-size:5vw;
        letter-spacing: -1px;
        width:100% !important;
    }
    #page3 .paragraph #p1,#p2{
        width:100%;
        font-size:2.5vw;
    }

    #page4 {
        height:150vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #page4 .product{
        width: 45%;
        height: 50%;
        gap:60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #page4 .product img{
        width:80%;
        
    }
 /* page5 */
 #page5{
    /* border: 2px solid red !important; */
    height: 90vh !important;
 }
 #page5 .line{
  font-size: 0.3rem !important;
 }
#line-btn {
    width: fit-content;
    border: none;
}
#fill-cercle{
    margin: 0px !important;
    margin-bottom: 2vw !important;
}
#fill-cercle button{
    justify-content: space-evenly !important;
}
#fill-cercle #line-btn h4{
    font-size: 1rem !important;
}

#page5 #heading-pg5 h1 {
    font-size: 5vw;
    letter-spacing:-1px !important;
    /* border: 1px solid red; */
}
#heading-pg5{
    gap: 1px !important;
}
#heading-pg5 button {
    margin:0px !important;
    padding: 20px 30px !important;
}

#heading-pg5 button:hover {
    color: rgb(187, 186, 188) !important;
}
#heading-pg5 p{
    margin-top: 20px !important;
}

#page6{
    /* border: 2px solid red !important; */
    height: fit-content !important;
    flex-wrap: wrap !important;
    margin-top: 20px !important;
}
#page6 #section1 {
    width: 100% !important;
    height: 100%;
    order: 1 !important;
}
#page6 #section2 ,#page6 #section3 {
    width: 50% !important;
}
#page6 .section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
}
footer{
    height: fit-content !important;
    width: 100% !;
    /* border: 2px solid red; */
}
footer #email {
    margin: 0px !important;
    margin: 0 20px !important;
}
footer #email h1{
    font-size: 1.5rem !important;
}
#footer2{
    flex-wrap: wrap !important;
}
#footer2 #logo{
    text-align: left;
    width: 100% !important;
}
#footer2 #logo svg{
    width: 100px !important;
    height: 100px !important;
}
#footer2 #text{
  order: 1 !important;
  width:40% !important;
  /* border: 1px solid red !important; */
}
#footer2 #text li{
    text-align: start !important;

}
 #paragraph{
    display: none !important;

}

}